:root {
  --black: #353b48;
  --white: #f5f6fa;
  --blue: #273c75;
  --grey: #35495e;
  --green: #42b883;
  --radius: 2.4rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: "Inter", sans-serif;
}

.nuxt-link-exact-active::after {
  margin-top: 2px;
  display: block;
  content: '';
  background: var(--green);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.radius {
  border-radius: var(--radius);
}