:root {
  --black: #353b48;
  --white: #f5f6fa;
  --blue: #273c75;
  --grey: #35495e;
  --green: #42b883;
  --green-darken: #3BA575;
  --radius: 2.4rem;
  --radius-small: 1.6rem;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: "Inter", sans-serif;
}

.nuxt-link-exact-active::after {
  margin-top: 2px;
  display: block;
  content: '';
  background: var(--green);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.radius {
  border-radius: var(--radius);
}

.radius-small {
  border-radius: var(--radius-small);
}

.shadow {
  box-shadow: 0.2rem 0.2rem 1.4rem 2px rgba(40, 40, 40, 0.12);
}

.badge {
  display: inline-block;
  background: var(--green);
  padding: 0 .4rem;
  border-radius: .6rem;
  color: rgba(255, 255, 255, .9);
  transition: background-color ease-in 130ms;
}

.badge:hover {
  background: var(--green-darken);
}